::selection {
  background-color: var(--highlight);
}

/* Used in the navbar */
.divider-grey {
  box-shadow: inset 0 -4px 0 var(--grey-1);
  /* Link hover states */
  & a {
    transition: var(--hover-transition);
  }
  & ul a:hover, & ul a:focus {
    box-shadow: inset 0 -4px 0 var(--primary);
  }
}
.social-static {
  position: fixed;
  bottom: 0;
  right: 0;
}
.social-static a {
  display: inline-block;
  padding: 3px !important;
  color: #2960ff;
  width: 70px;
  height: 70px;
}
.social-static a svg {
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.46);
}
@media screen and (max-width: 600px) {
  .social-static a { width: 30px; height: 30px;}
}